{% extends "layout.html" %}
{% block pagetitle %}<h1>{{game.slot}}: {{game.name}}</h1>{% endblock %}
{% block body %}
  Author: {{ game.author }}<br/>
  System: {{ game.system }}<br/>
  Blurb: {{ game.blurb }}<br/>
  Players: {{ game.player_count() }}<br/>

  <table class="tables" border=1 cellspacing=0 cellpadding=2>
    <tr>
      <th colspan={{ len(game_tables) }}>tables</th>
    </tr>
    <tr>
    {% for table in game_tables %}
      <td>
        <ul>
          <li><em>GM: {{player_name(table['gm'])}}</em></li>
          <br/>
        {% for player in table['players'] %}
          <li>{{player_name(player)}}</li>
        {% endfor %}
          <br/>
        {% for warning in table['warnings'] %}
          <li><em><font color="red">{{ warning }}</font></em></li>
        {% endfor %}
        {% for info in table['info'] %}
          <li><em><font color="green">{{ info }}</font></em></li>
        {% endfor %}
        </ul>
      </td>
    {% endfor %}
    </tr>
  </table>

  <hr/>
  <a href="{{ url_for('game_table_list_csv', slot=game.slot) }}">Download table list as CSV</a>

  <hr/>
  <form action="{{ url_for('game_generate_tables', slot=game.slot) }}" method="POST">
    <strong>Warning! Clicking this button will obliterate existing data.</strong>
    <br/>
    <input type="submit" value="Generate tables">
  </form>

{% endblock %}
