<!doctype html>
<title>Table Minion</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  {% block pagetitle %}<h1>Table Minion</h1>{% endblock %}
  <div class=metanav>
    <a href="{{ url_for('index') }}">home</a>
    <a href="{{ url_for('games') }}">games</a>
    <a href="{{ url_for('players') }}">players</a>
    <a href="{{ url_for('tables') }}">tables</a>
  </div>
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="flash {{ category }}">{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
