{% extends "layout.html" %}
{% block pagetitle %}<h1>Tables</h1>{% endblock %}
{% block body %}
  <table class="tables" border=1 cellspacing=0 cellpadding=2>
    <tr>
      <th>slot</th>
      <th colspan={{ game_tables.max_tables_per_slot() }}>tables</th>
  {% for slot in game_tables.slots %}
    <tr>
      <td><a href="{{ url_for('game', slot=slot) }}">{{ slot }}</a></td>
    {% for table in game_tables[slot] %}
      <td>
        <ul>
          <li><em>GM: {{player_name(table['gm'])}}</em></li>
        {% for player in table['players'] %}
          <li>{{player_name(player)}}</li>
        {% endfor %}
        </ul>
      </td>
    {% endfor %}
    </tr>
  {% endfor %}
  </table>
  </ul>

  <hr/>
  <form action="{{ url_for('tables_generate_tables') }}" method="POST">
    <strong>Warning! Clicking this button will obliterate table data.</strong>
    <br/>
    <input type="submit" value="Generate tables">
  </form>

  <hr/>
  <a href="{{ url_for('tables_csv') }}">Download tables as CSV</a>

  <hr/>
  <form action="{{ url_for('tables_upload') }}" method="post" enctype="multipart/form-data">
    <strong>Warning! Importing players will obliterate existing table data.</strong>
    <br/>
    <input type="file" name="tables.csv">
    <br/>
    <input type="submit" value="Import">
  </form>
{% endblock %}
